# 
#mediasoup_ip=192.168.3.186
#mediasoup_ip=192.168.1.51
#mediasoup_http_port=8888
#mediasoup_websocket_port=8888
#room_name=chensong
#client_name=chensong
video_fps=30
desktop_capture = 2

log_level = 34
